<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <publishUrl>C:\Users\owner\Documents\usoftfactoryhomepage\bin\release</publishUrl>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <!-- 開発用ファイルと発行先(bin\release)自身は発行対象から除外する -->
    <ExcludeFoldersFromDeployment>.vs;.git;bin\release;PrecompiledWeb;packages;app_data\publishprofiles</ExcludeFoldersFromDeployment>
    <ExcludeFilesFromDeployment>*.sln;*.slnx;.gitignore;README.md;website.publishproj;packages.config</ExcludeFilesFromDeployment>
  </PropertyGroup>
</Project>